<nav class="navbar navbar-expand-md navbar-dark bg-primary  ">

    <a class="navbar-brand" href="#"><img src="..\..\assets\logo.png" style="max-width: 70px;"> </a>

    <div class="navbar-toggler d-lg-none form-inline p-0" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" style="border: 0px;">
       
        <a class="nav-link btn btn-danger" [ngClass]="appsevice.Catalogo!='mg'?'':'btn-sel'"  
            href="/">Voltar à loja</a> 
        <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse"
            data-target="#collapsibleNavId" aria-expanded="true" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapsibleNavId">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse  " id="collapsibleNavId" [ngbCollapse]="isCollapsed">
      
        <a class="nav-link btn"  [ngClass]="appsevice.Catalogo!='sp'?'':'btn-sel'"
            (click)="meuspedidos()" href="#">Meus pedidos</a>
        <a class="nav-link btn"   [ngClass]="appsevice.Catalogo!='mg'?'':'btn-sel'"
            (click)="meusdados()" href="#">Meus dados</a> 
        <a class="nav-link btn"   [ngClass]="appsevice.Catalogo!='mg'?'':'btn-sel'"
            (click)="appsevice.logout()" href="#" *ngIf="!currentWindowWidth" >Sair</a>
 
          <a class="nav-link btn btn-danger ml-auto" *ngIf="currentWindowWidth" [ngClass]="appsevice.Catalogo!='mg'?'':'btn-sel'" 
            href="/">Voltar à loja</a>
        
        <div ngbDropdown class="" *ngIf="(appsevice.cliente!==undefined && appsevice.cliente.nome!='')&&currentWindowWidth">
            <button class="btn btn-link text-white" id="dropdownBasic1" ngbDropdownToggle>{{appsevice.cliente.nome}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-right">
              <a style="color: blueviolet !important;" href="/cliente?token={{appsevice.token}}&user={{appsevice.cliente.email}}&action=order" ngbDropdownItem>Meus Pedidos</a>
              <a style="color: blueviolet !important;" href="/cliente?token={{appsevice.token}}&user={{appsevice.cliente.email}}&action=profile" ngbDropdownItem>Perfil</a>
              <a style="color: blueviolet !important;" (click)="appsevice.logout()" ngbDropdownItem>Sair</a>
            </div>
          </div> 
 
    </div>



</nav>