<div class="row">
    <div class="col-md-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>Nome da Receita</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-secondary">Gerenciar Receitas</button> 
                <div class="btn-group" role="group">
                    <button id="dropdownId" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#"></a>
                        <a class="dropdown-item" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Nome da Receita</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Nome da Receita</p>
    </div>
</div>