<div class="row p-2">
    <div class="col-xs" *ngFor="let r of listaCarrinho; let i = index">
        <button (click)="deleta(i)" type="button" class="close" [disabled]="this.appsevice.pggerado" aria-label="Close"
            style=" position: absolute; z-index: 200; margin-left: 5.7rem; margin-top: 0.5rem;">
            <span aria-hidden="true ">&times;</span>
        </button>
        <a href="#" class="list-group-item clearfix p-0 m-1 shadow-sm rounded-lg"
            style="border: 0px !important; overflow: hidden;">
            <div class="view overlay" style="position: relative !important;">
                <img [src]="r.url" alt="" class="img-responsive" style="height: 110px;width: 110px;">
                <div class="mask  rgba-blue-strong text-center">
                    <p class="white-text pt-2">{{r.SKU}}</p>
                    <p class="white-text">Estoque:{{r.qt}}</p>
                </div>

            </div>
            <div class="list-group-item-text text-center text-truncate bg-primary col p-0" style=" color: white;">
                {{r.valor}}
            </div>
        </a>
    </div>
</div>